body {
  margin: 0.01rem;
  font-family: sans-serif;
  background: #fff8dc;
}

.article {
  margin: auto;
  padding: 1.5rem;
  max-width: 680px;
}

.article__heading {
  margin: 0 0 1.5rem;
  color: #db7093;
}

.article__lead {
  font: 700 italic 1rem serif;
  text-transform: uppercase;
}

.figure {
  margin: auto;
}

.figure__caption {
  margin: 0.5rem 0 0;
  font-style: italic;
  text-align: center;
}
