/* Смотри сколько снизу свободного места! Оно идеально подойдёт, чтобы писать твои стили! */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1180px;
  margin: 0 auto;

  font-family: Arial;
  background: #f6f6f6;
}

.product-cards {
  max-width: 1180px;
  margin: 0 auto;
}

.product-cards__title {
  margin: 2.5rem 0;
  text-align: center;
}

.product-cards__title-text {
  font-size: 3rem;
  font-weight: 900;
  line-height: 4.5rem;
  text-transform: uppercase;
}

.product-cards__list {
  display: flex;
  justify-content: center;

  margin-left: -1.25rem;
}

.product-cards__item {
  max-width: 400px;
  min-width: 200px;

  list-style-type: none;
}

.product-cards__content {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0 0 1.25rem 1.25rem;
  max-width: 380px;
  height: 482px;

  background: white;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 45px -4px rgba(0, 0, 0, 0.18);
}

.product-cards__logo {
  margin-bottom: 1.438rem;
  height: 214px;
}

.product-cards__logo-stickers {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-wrap: wrap;

  text-transform: uppercase;
  color: white;
}

.product-cards__logo-sticker {
  line-height: 1.5625em;
  color: #2f2f2f;

  border-radius: 0.5rem;
}

.product-cards__logo-sticker--new {
  margin: 1rem 0 0 1.046rem;
  padding: 0 1rem;

  background: #fdcff3;
}

.product-cards__logo-sticker--last {
  margin: 1rem 0 0 1.063rem;
  padding: 0 1.026rem;

  background: #ffcf56;
}

.product-cards__description {
  margin-bottom: auto;
}

.product-cards__description-title {
  margin-left: 1.5rem;

  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2.25rem;
}

.product-cards__description-text {
  margin: 1.063rem 1.5rem 1.5rem;

  line-height: 1.5rem;
  text-align: left;
}

.product-cards__button {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.product-cards__button-item {
  width: 100%;
  max-width: 332px;
  min-width: 200px;
  min-height: 48px;

  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  text-transform: uppercase;
  color: #42940f;

  background: white;
  border: 0.125rem solid #42940f;
  border-radius: 0.5rem;
  cursor: pointer;
}

.product-cards__button-item:hover {
  color: #ffffff;

  background: #42940f;
  border: none;
}

.product-cards__button-item:active {
  color: #ffffff;

  background: #1f5200;
  border: none;
}

.product-cards__button-item:disabled {
  color: #ffffff;

  background: #4e4e4e;
  border: none;
  cursor: auto;
}

@media (max-width: 1180px) {
  .product-cards__list {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .product-cards__title-text {
    font-size: 1.7rem;
    line-height: 1.5rem;
  }

  .product-cards__item {
    margin: 0 1.75rem 0 1.75rem;
  }

  .product-cards__content {
    min-height: 560px;
  }

  .product-cards__logo-stickers {
    margin-right: 0.625rem;
  }

  .product-cards__button {
    margin: auto;
    width: 90%;
  }
}
